<div class="container">
  <div class="card card-container">
    <table class="table">
      <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{user.age}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{user.country}}</td>
      </tr>
      <tr>
        <td>Hobby</td>
        <td>
          <ul class="list-group">
            <li class="" *ngFor="let item of user.hobby">
              {{item.value}}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
