<div class="container">
  <div class="card card-container">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <form [formGroup]="loginForm" class="user-form" (ngSubmit)="login()" ngNativeValidate>
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" formControlName="email" id="email" class="form-control" placeholder="" autocomplete="false" required autofocus>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" autocomplete="false" placeholder="">
      </div>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
    </form>
  </div>
</div>
