.home-nav
  background: #521750

.navbar-brand
  color: white

.list-group-item
  background: transparent
  border: none

.list-group-item a
  color: white
  text-decoration: none

  &:hover, &:active, &:focus
    color: #FB923F


