<lib-ngx-notification></lib-ngx-notification>

<nav class="navbar home-nav  justify-content-between">
  <a class="navbar-brand">{{authService.isLoggedIn ? 'Welcome ' + user.email : 'Welcome'}}</a>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item" *ngIf="authService.isLoggedIn;else notAuthUser"><a (click)="logout()">Logout</a></li>
    <ng-template #notAuthUser>
      <li class="list-group-item"><a routerLink="/signup" [routerLinkActive]="['active']">Sign      up</a></li>
      <li class="list-group-item"><a routerLink="/login" [routerLinkActive]="['active']">Sign In</a></li>
    </ng-template>

  </ul>
</nav>
<router-outlet></router-outlet>

