<div class="container">
  <div class="card card-container">
    <form #form="ngForm" [formGroup]="signupForm" class="user-form " (ngSubmit)="signup()">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" [ngClass]="{ 'is-invalid':form.submitted&& f.email.errors }" formControlName="email"
               id="email"
               class="form-control" placeholder="" autocomplete="false"
               required autofocus>

        <div *ngIf="form.submitted&&f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Your Age</label>
        <input type="number" [ngClass]="{ 'is-invalid':form.submitted&& f.age.errors }" formControlName="age" id="age"
               class="form-control" required>
        <div *ngIf="form.submitted&&f.age.errors" class="invalid-feedback">
          <div *ngIf="f.age.errors.required">Age is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [ngClass]="{ 'is-invalid':form.submitted&& f.password.errors }"
               formControlName="password" minlength="6"
               id="password" class="form-control" required>
        <div *ngIf="form.submitted&&f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" formControlName="confirmPassword"
               [ngClass]="{ 'is-invalid':form.submitted&& f.confirmPassword.errors}"
               id="confirmPassword" class="form-control" required>
        <div *ngIf="form.submitted&&f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select id="country" class="form-control" formControlName="country">
          <option *ngFor="let country of countries" [value]="country">
            {{country}}
          </option>
        </select>
      </div>
      <div class="form-group mt-2 mb-2" formArrayName="hobby">
        <label for="hobby">Hobby</label>
        <div class="row">
          <div class="col-md-6 ml-auto">
            <button type="button" class="btn btn-primary btn-sm" (click)="addNewHobby()">Add Hobby</button>
          </div>
        </div>
        <ul id="hobby" class="list-group list-group-vertical">
          <li class="list-group-item mb-2" *ngFor="let hobby of signupForm.get('hobby')['controls'];let index=index"
              [formGroupName]="index">
            <div class="row">
              <div class="col-md-10">
                <input type="text" class="form-control"
                       [ngClass]="{ 'is-invalid':form.submitted&& hobby.controls.value.errors?.required}"
                       formControlName="value">
                <div *ngIf="form.submitted&&hobby.controls.value.errors?.required" class="invalid-feedback">
                  <div *ngIf="hobby.controls.value.errors?.required ">Value is required</div>
                </div>
              </div>
              <div class="col-md-2 mt-1">
                <i class="fa fa-trash pointer-cursor" (click)="deleteHobby(index)"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <input type="checkbox" class="mr-2" id="terms" required>
        <label class="red-text" for="terms">Accept Terms of Use</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
    </form>
  </div>
</div>
