/* You can add global styles to this file, and also import other style files */
@import "sass/variable"
@import "node_modules/bootstrap/scss/bootstrap.scss"
@import '~font-awesome/scss/font-awesome'
.active
  color: $orange !important

.card-container.card
  max-width: 350px
  padding: 40px 40px

.btn
  font-weight: 700
  height: 36px
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none
  cursor: default

/*
 * Card component

.card
  background-color: #F7F7F7

  /* just in case there no content
  padding: 20px 25px 30px
  margin: 0 auto 25px
  margin-top: 50px

  /* shadows and rounded borders
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)

/*
 * Form styles

.user-form
  input
    &[type=email], &[type=password]
      width: 100%
      display: block
      margin-bottom: 10px
      z-index: 1
      position: relative
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box

  button
    width: 100%
    display: block
    margin-bottom: 10px
    z-index: 1
    position: relative
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

  .form-control:focus
    border-color: $primary
    outline: 0
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162)

.btn.btn-signin
  /*background-color: #4d90fe;
  background-color: #EFEFEF

  color: $primary

  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  padding: 0px
  font-weight: normal
  font-size: 14px
  height: 36px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  border-color: $primary
  -o-transition: all 0.218s
  -moz-transition: all 0.218s
  -webkit-transition: all 0.218s
  transition: all 0.218s


.pointer-cursor
  cursor: pointer

.red-text
  color: $red


